.y_footer{
	width: 100%;
	height: 70px;
	overflow-x: hidden;
}
.y_foot1{
	padding-left: 40px;
	width: 1400px;
	height: 35px;
	margin: 0 auto;
}
.y_foot1>a{
	float: left;
	color: #818284;
	line-height: 35px;
	font-size: 14px;
}
.y_foot1>a.y_tubiao{
	width: 81px;
	height: 35px;
	display: block;
	background: url(../img/y_button_21.jpg) no-repeat center;
	padding-left: 9px;
	padding-right: 9px;
}
.y_foot1>a.y_tupiana{
	float: left;
	width: 22px;
	height: 35px;
	display: block;
	background: url(../img/y_lo2.gif) no-repeat center;
	background-size: 22px 23px;
	padding-left: 9px;
	padding-right: 9px;
}
.y_foot1>p{
	float: left;
	color: #818284;
	line-height: 35px;
	font-size: 14px;
}
