<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>产品族群</title>
		<link rel="stylesheet" type="text/css" href="../../css/foot.css" />
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/y_chanpindq.css" />
	</head>

	<body>
		<div class="swiper-container y_banner">
			<div class="swiper-wrapper y_bannera">
				<div class="swiper-slide"><img src="../../img/y_banner1.jpg" /></div>
				<div class="swiper-slide"><img src="../../img/y_banner1.jpg" /></div>
				<div class="swiper-slide"><img src="../../img/y_banner1.jpg" /></div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
		<div class="y_groupBoxa">
			<div class="y_groupBox">
				<div class="y_ding">
					<h5>产品族群</h5>
					<span>
	                    <img src="../../img/y_img10.png"/>
					</span>
				</div>
				<div class="y_groupCb">

					<div class="y_gn y_gn1">
						<a class="y_gnTt y_gdtt1">
							<h3> 电工电气</h3>
							<span>ELECTRICAL APPLIANCES</span>
						</a>
						<div class="y_gdvbs1">
							从家居电气、工业电气到电线电缆，灵活多样的电气全产业链解决方案满足不同用户的用电需求。
						</div>
					</div>
					<div class="y_gn y_gn2">
						<a class="y_gnTt y_gdtt2">
							<h3> LED照明</h3>
							<span>LED LIAGHTING</span>
						</a>
						<div class="y_gdvbs2">
							鸿雁倡导照明产品向节能、环保、安全、舒适方向发展。
						</div>
					</div>
					<div class="y_gn y_gn3">
						<a class="y_gnTt y_gdtt1">
							<h3> 智能电气</h3>
							<span>smart appliance</span>
						</a>
						<div class="y_gdvbs3">
							国内率先推出HIS-2000家居布线系统，开创家居智能化新潮流!</div>
					</div>
					<div class="y_gn y_gn4">
						<a class="y_gnTt y_gdtt1">
							<h3>  水电管道</h3>
							<span>The water pipe</span>
						</a>
						<div class="y_gdvbs4">
							鸿雁管业产品已涵盖PVC电工管槽及配件、UPVC建筑用排水管材管件、
						</div>
					</div>
					<div class="y_gn y_gn5">
						<a class="y_gnTt y_gdtt1">
							<span class="y_stu"></span>
							<h3 style="font-size: 16px;">更多期待</h3>
						</a>
					</div>
					<div class="y_gdimg y_gdimg1">
						<img src="../../img/y_img1.png" />
					</div>
					<div class="y_gdimg y_gdimg2">
						<img src="../../img/y_img2.png" />
					</div>
					<div class="y_gdimg y_gdimg3">
						<img src="../../img/y_img4.png" />
					</div>
					<div class="y_gdimg y_gdimg4">
						<img src="../../img/y_img3.png" />
					</div>
					<div class="y_gardline1 y_gdln1">

					</div>
					<div class="y_gardline2 y_gdln2">

					</div>
					<div class="y_gardline1 y_gdln3">

					</div>
					<div class="y_gardline2 y_gdln4">

					</div>
				</div>
			</div>
		</div>
		<div class="y_footer">
			<div class="y_foot1">
				<a href="#">经销商在线系统 &nbsp|&nbsp</a>
				<a href="#">供应商在线系统 &nbsp|&nbsp</a>
				<a href="#">防伪查询 &nbsp|&nbsp</a>
				<a href="#">联系我们&nbsp|&nbsp</a>
				<a href="#" class="y_tubiao"></a>
				<p>Copyright © 2014 Honyar All rights reserved. 浙ICP备05003462号-1</p>
				<a href="#" class="y_tupiana"></a>
				<a href="#">下载专区&nbsp|&nbsp</a>
				<a href="#">站点地图 站长统计</a>
			</div>
			<div class="y_foot1">
				<a href="#" style="padding-right: 10px;">中国普天</a>
				<a href="#">鸿雁专属联通营业厅</a>
			</div>
		</div>
	</body>

</html>
<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
<script type="text/javascript" src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/y_chanpin.js"></script>