<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>研发与设计</title>
		<link rel="stylesheet" type="text/css" href="../../css/foot.css" />
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/y_yanfasj.css" />
	</head>

	<body>
		<div class="y_dbox">
			<div class="y_nav1">
				<div class="y_nav">
					当前位置：
					<a href="#">首页&nbsp</a>
					<img src="../../img/y_icon5.png" />
					<a href="#">&nbsp关于鸿雁&nbsp</a>
					>
					<a class="y_acur">&nbsp研发与设计</a>
				</div>
			</div>
			<div class="y_bannbox">
				<div class="y_abanner">
					<div class="y_bannerdw">
						<div class="y_bgben2">
							R&amp;D AND DESIGN
						</div>
						<h3>研发与设计</h3>
						<span></span> 深谙研发力就是生命力的鸿雁电器，多年来一直非常重视公司的研发工作。鸿雁电器研发投入占销售额比重近三年均在7%左右，研发中心被认定为“国家级技术中心”，拥有国家级院士工作站；所属的普天智能照明研究院因“鸿雁智能家居云平台”项目获得“省级重点企业研究院”称号，并获专项资金支持。 截止目前，公司累计申请专利465项，获得授权专利382项，有效授权312项；累计申请发明专利39项，其中授权17项。
					</div>
				</div>
			</div>
			<div class="y_honyartop">
				<div class="y_honyar">
					<div class="y_ding">
						<h5>研发与设计</h5>
						<span>
                    	<img src="../../img/y_img9.png">
					</span>
					</div>
					<ul class="y_design">
						<li>
							<a href="javascript:;">
								<div class="y_img1">
									<img src="../../img/y_imgx1.jpg" />
								</div>

								<div class="y_deg">
									<div class="y_deen">
										Putian Intelligent
										<br> Lighting Institute</div>
									<h5>
                                普天智能照明研究院</h5>
									<span></span>
								</div>
								<p>
									在杭州设立集研发、科技成果转化及人才培养为一体的新型综合研究机构，以支持鸿雁电器LED产业的发展。</p>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="y_img1">
									<img src="../../img/y_imgx2.jpg" />
								</div>

								<div class="y_deg">
									<div class="y_deen">
										Academician workstation
										<br>
									</div>
									<h5>院士工作站</h5>
									<span></span>
								</div>
								<p>

									院士工作站通过引进院士建立产学研合作关系，围绕公司的研发方向，开展共同研究,增强公司创新能力，培养高级技术人才。</p>
							</a>
						</li>
						<li style="margin-right: 0;">
							<a href="javascript:;">
								<div class="y_img1">
									<img src="../../img/y_imgx3.jpg" />
								</div>

								<div class="y_deg">
									<div class="y_deen">
										Postdoctoral Workstation
										<br>
									</div>
									<h5>博士后工作站</h5>
									<span></span>
								</div>
								<p>
									鸿雁公司的博士后工作站成立于2009年，先期为滨江区的博士后科研工作分站。2013年被评为浙江省博士后工作站试点单位。
								</p>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="y_img1">
									<img src="../../img/y_imgx4.jpg" />
								</div>

								<div class="y_deg">
									<div class="y_deen">
										Lanza industrial
										<br> design company
									</div>
									<h5>兰泽工业设计公司</h5>
									<span></span>
								</div>
								<p>
									鸿雁兰泽工业设计拟在为客户提供以品牌和产品竞争力为核心的综合解决方案，重点致力于LED照明以及物联网相关产品的研究和设计开发。
								</p>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="y_img1">
									<img src="../../img/y_imgx5.jpg" />
								</div>

								<div class="y_deg">
									<div class="y_deen">
										Light Environmental
										<br> Design Center
									</div>
									<h5>光环境设计中心</h5>
									<span></span>
								</div>
								<p>
									通过专业、科学、创新的光环境设计、工程项目管理、为客户量身定制系统、智慧的照明解决方案，提高客户体验，保证工程项目的设计与实施，以及与项目有关的各环节有效运行。
								</p>
							</a>
						</li>
						<li style="margin-right: 0;">
							<a href="javascript:;">
								<div class="y_img1">
									<img src="../../img/y_imgx6.jpg" />
								</div>

								<div class="y_deg">
									<div class="y_deen">
										External Cooperation
									</div>
									<h5>外部合作</h5>
									<span></span>
								</div>
								<p>
									院士工作站通过引进院士建立产学研合作关系，围绕公司的研发方向，开展共同研究,增强公司创新能力，培养高级技术人才。
								</p>
							</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="y_footer">
				<div class="y_foot1">
					<a href="#">经销商在线系统 &nbsp|&nbsp</a>
					<a href="#">供应商在线系统 &nbsp|&nbsp</a>
					<a href="#">防伪查询 &nbsp|&nbsp</a>
					<a href="#">联系我们&nbsp|&nbsp</a>
					<a href="#" class="y_tubiao"></a>
					<p>Copyright © 2014 Honyar All rights reserved. 浙ICP备05003462号-1</p>
					<a href="#" class="y_tupiana"></a>
					<a href="#">下载专区&nbsp|&nbsp</a>
					<a href="#">站点地图 站长统计</a>
				</div>
				<div class="y_foot1">
					<a href="#" style="padding-right: 10px;">中国普天</a>
					<a href="#">鸿雁专属联通营业厅</a>
				</div>
			</div>
		</div>
	</body>

</html>
<script type="text/javascript" src="../js/y_dianqi.js"></script>