<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>营销网络</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/foot.css" />
		<link rel="stylesheet" type="text/css" href="../../css/y_yxwangluo.css" />
	</head>

	<body>
		<div class="y_nav1">
		<div class="y_nav">
			当前位置：
			<a href="#">首页&nbsp</a>
			<img src="../../img/y_icon5.png" />
			<a href="#">&nbsp关于鸿雁&nbsp</a>
			>
			<a class="y_acur">&nbsp营销网络</a>
		</div>
		</div>
		<div class="y_bann">
			<div class="y_abanner">
				<div class="y_bannerdw">
					<div class="y_bgben2">
						MARKETING NETWORK
					</div>
					<h3>营销网络</h3>
					<span></span> 鸿雁电器拥有强大的市场营销网络资源，在全国设有57个办事处和联络处，拥有一级网点3000多家，二级网点上万家，进入国内大型连锁商超1000余家；涵盖经销渠道、建材连锁超市、民用超市、集团客户、网络渠道及隐形渠道。全方位、立体化的网络覆盖和多年的品牌积累，使公司产品在建筑电气领域享有极高的品牌知名度和美誉度。
	
				</div>
			</div>
		</div>
		<div class="y_ditua">
		<div class="y_ditu">
			<div class="y_ding">
				<h5>营销网络</h5>
				<span>
                    	<img src="../../img/y_img9.png">
					</span>
			</div>
			<div class="y_ditu_box">
				<div class="y_ditu_left" id="y_ditu_left">
					<span class="y_hl active" title="黑龙江"></span>
					<span class="y_jl" title="吉林"></span>
					<span class="y_ln" title="辽宁"></span>
					<span class="y_bj" title="北京"></span>
					<span class="y_nmg" title="内蒙古"></span>
					<span class="y_shx" title="山西"></span>
					<!--<span class="y_sx"></span>-->
					<span class="y_sd" title="山东"></span>
					<span class="y_hn" title="河南"></span>
					<span class="y_sx" title="陕西"></span>
					<span class="y_js" title="江苏"></span>
					<span class="y_sh" title="上海"></span>
					<span class="y_ah" title="安徽"></span>
					<span class="y_hb" title="湖北"></span>
					<span class="y_zj" title="浙江"></span>
					<span class="y_jix" title="江西"></span>
					<span class="y_fuj" title="福建"></span>
					<span class="y_taw" title="台湾"></span>
					<span class="y_hun" title="湖南"></span>
					<span class="y_gud" title="广东"></span>
					<span class="y_anm" title="澳门"></span>
					<span class="y_han" title="海南"></span>
					<span class="y_gux" title="广西"></span>
					<span class="y_guz" title="贵州"></span>
					<span class="y_sic" title="四川"></span>
					<span class="y_yun" title="云南"></span>
					<span class="y_gans" title="甘肃"></span>
					<span class="y_qih" title="青海"></span>
					<span class="y_xij" title="新疆"></span>
					<span class="y_xiz" title="西藏"></span>
				</div>
				<div class="y_ditu_right">
					<div class="y_di_rtop">
						<div class="aben">
							MARKETING
							<br> NETWORK
						</div>
						<h3>营销网络</h3>
					</div>
					<div class="y_city" id="y_city">
						<span class="y_city_center" style="display: block;">
	                    		<!--<h3>黑龙江</h3>-->
	                    	</span>
						<span class="y_city_center">
	                    		<h3>吉林</h3>
	                    		<div>
	                    			<p>东北办事处</p>
	                    			<p>聂海林</p>
	                    			<p>长春市延安大路565号盛世国际A3015</p>
	                    			<p>0431-88673332   18694588111</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    	</span>
						<span class="y_city_center">
	                    		<h3>北京</h3>
	                    		<div>
	                    			<p>北京办事处</p>
	                    			<p>田  旭</p>
	                    			<p>北京市西城区太平街6号富力摩根大厦三层D310</p>
	                    			<p>010-82052921  010-82054694  18694589260</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<!--<h3>内蒙古</h3>-->
	                    	</span>
						<span class="y_city_center">
	                    		<!--<h3>山西</h3>-->
	                    	</span>
						<span class="y_city_center">
	                    		<h3>山东</h3>
	                    		<div>
	                    			<p>济南办事处</p>
	                    			<p>张国辉</p>
	                    			<p>济南市天桥区经一路88号明珠国际商务港3217室</p>
	                    			<p>临沂办事处</p>
	                    			<p>张国辉</p>
	                    			<p>山东省临沂市兰山区北京路20号商户大厦1103室</p>
	                    			<p>0539-7571122   18694588519</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>河南</h3>
	                    		<div>
	                    			<p>郑州办事处
									<p>袁振伟</p>
									<p>商都路与通泰路交叉口商都世贸中心B座2503室</p>
									<p>0371-67712713  18694588501</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>陕西</h3>
	                    		<div>
	                    			<p>西安办事处</p>
									<p>吴双前</p>
									<p>西安市新城区咸宁中路42号</p>
									<p>029-88647727  18694589021</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>江苏</h3>
	                    		<div>
	                    			<p><b>南京办事处</b>&nbsp;王少军</p>
	                    			<p>南京市秦淮区长乐路44-2号 </p>
	                    			<p>025-84209742  18694588520</p>
	                    			<p><b>苏州办事处</b>&nbsp张磊</p>
	                    			<p>苏州市西园路609号金创商务大厦1106室</p>
	                    			<p>0512-68187113  18694589346</p>
	                    			<p><b>扬州办事处</b>&nbsp;喻剑军</p>
	                    			<p>扬州市经济开发区江阳中路433号金天城大厦A座2110室</p>
	                    			<p>0514-87895062  18694588522</p>
	                    			<p><b>南通办事处</b>&nbsp;罗海青</p>
	                    			<p>南通市跃龙路38号国际大厦1208-2号 </p>
	                    			<p>0513-85352168  18694588523</p>
	                    			<p><b>无锡办事处</b>&nbsp;文  平</p>
	                    			<p>无锡市崇安区人民东路311号崇文大厦809室</p>
	                    			<p>0510-82715208 18694588525</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>上海</h3>
	                    		<div>
	                    			<p>上海办事处</p>
	                    			<p>延永臣</p>
	                    			<p>上海市徐汇区漕宝路86号光大会展中心F座2805室</p>
	                    			<p>电话：021-64329021</p>
	                    			<p>手机：18694588506</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>安徽</h3>
	                    		<div>
	                    			<p>合肥办事处</p>
	                    			<p>张继良</p>
	                    			<p>合肥市庐阳区濉溪路87号国金大厦1505室</p>
	                    			<p>0551-64231387 0551-65535557  18694588532</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>湖北</h3>
	                    		<div>
	                    			<p>武汉办事处</p>
	                    			<p>肖伟巧</p>
	                    			<p>武汉市硚口区中山大道226号（原操场角特198号）万安国际19楼8号房</p>
	                    			<p>027-85712349  18694588517</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center" style="display: block;">
	                    		<h3>浙江</h3>
	                    		<div>
	                    			<p><b>杭州办事处</b>&nbsp;汪兴波</p>
	                    			<p>杭州市余杭区五常大道138号4号楼202</p>
	                    			<p>0571-85899711  18694588889</p>
	                    			<p><b>绍兴办事处</b>&nbsp;沈  勇</p>
	                    			<p>绍兴越城区胜利东路365号迪荡新城富绅大厦2103室</p>
	                    			<p>0575-88654598  18694588540</p>
	                    			<p><b>宁波办事处</b>&nbsp; 朱建峰</p>
	                    			<p>宁波市天童北路899号和邦大厦C座1508室</p>
	                    			<p>0574-87347545 18694588542</p>
	                    			<p><b>台州办事处</b>&nbsp;朱良君</p>
	                    			<p>台州市椒江区市府大道289号耀达大厦12楼B区</p>
	                    			<p>0576-88898665/88898667  18694588546</p>
	                    			<p><b>嘉兴办事处</b>&nbsp; 孙建忠</p>
	                    			<p>嘉兴市秀洲区中环西路8号富悦写字楼18楼1803室</p>
	                    			<p>0573-82077866  18694588543</p>
	                    			<p><b>湖州办事处</b>&nbsp;沈  勇</p>
	                    			<p>湖州市金世纪大厦B座801室</p>
	                    			<p>0572-2128582 18694588540</p>
	                    			<p><b>金华办事处</b>&nbsp;施飞勤</p>
	                    			<p>金华市八一南街387号信华大楼1101室</p>
	                    			<p>0579-82388784  18694588547</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>江西</h3>
	                    		<div>
	                    			<p>南昌办事处</p>
	                    			<p>陈忠祥</p>
	                    			<p>南昌市青云普区洪城路8号长春国贸大厦1901室</p>
	                    			<p>0791-82080399 18694588539</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>福建</h3>
	                    		<div>
	                    			<p>福州办事处</p>
	                    			<p>郑志昂</p>
	                    			<p>福州市仓山区金山街道林洲路9号12单元501室</p>
	                    			<p>0591-83359477  18694588537</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<!--<h3>台湾</h3>-->
	                    	</span>
						<span class="y_city_center">
	                    		<h3>湖南</h3>
	                    		<div>
	                    			<p>机构名称：长沙办事处</p>
	                    			<p>负责人：舒放</p>
	                    			<p>地址：长沙市芙蓉中路三段398号新时空1号1102室</p>
	                    			<p>座机：0731-85012338</p>
	                    			<p>手机：18694589241</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>广东</h3>
	                    		<div>
	                    			<p>广州办事处</p>
	                    			<p>赵海伟</p>
	                    			<p>广州市天河区燕岭路25号天鸿阁812房</p>
	                    			<p>020-38792395</p>
	                    			<p>18694588538</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<!--<h3>澳门</h3>-->
	                    	</span>
						<span class="y_city_center">
	                    		<!--<h3>海南</h3>-->
	                    	</span>
						<span class="y_city_center">
	                    		<h3>广西</h3>
	                    		<div>
	                    			<p>南宁办事处</p>
	                    			<p>李治国</p>
	                    			<p>南宁市青秀区民族大道12号丽原天际A1906-1907</p>
	                    			<p>0771-2864050   18694589406</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<!--<h3>贵州</h3>-->
	                    	</span>
						<span class="y_city_center">
	                    		<h3>四川</h3>
	                    		<div>
	                    			<p>成都办事处</p>
	                    			<p>何浩</p>
	                    			<p>四川省成都市高新区（西区）新航路18号</p>
	                    			<p>电话：028-87931690   18694589186</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<h3>云南</h3>
	                    		<div>
	                    			<p>昆明办事处</p>
	                    			<p>柯洪峰</p>
	                    			<p>昆明市海埂路与云兴路交叉口 都昌欣界苑19楼1901室</p>
	                    			<p>0871-63510731   15808763131</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<!--<h3>甘肃</h3>-->
	                    	</span>
						<span class="y_city_center">
	                    		<!--<h3>青海</h3>-->
	                    	</span>
						<span class="y_city_center">
	                    		<h3>新疆</h3>
	                    		<div>
	                    			<p>机构名称：乌鲁木齐办事处</p>
	                    			<p>负责人：李超群</p>
	                    			<p>地址：乌鲁木齐市西虹东路381号B座602室 </p>
	                    			<p>座机：0991-4630645</p>
	                    			<p>手机：18694588508</p>
	                    		</div>
	                    	</span>
						<span class="y_city_center">
	                    		<!--<h3>西藏</h3>-->
	                    	</span>
					</div>
				</div>
			</div>
		</div>

		</div>
		<div class="y_foottopo">
		<div class="y_foottop">
			<div class="y_foottwo">
				<div class="y_ding2">
					<h5>国际业务咨询</h5>
					<span>
	                    <img src="../../img/y_img10.png"/>
					</span>
				</div>
				<div class="y_foothree">
					<div class="y_tel1">
						<span><img src="../../img/yx_img3.png"/></span>
						<p>86-571-85899715</p>
					</div>
					<div class="y_tel2">
						<span><img src="../../img/yx_img4.png"/></span>
						<p>杭州市余杭区五常大道138号</p>
					</div>
					<div class="y_tel3">
						<span><img src="../../img/yx_img5.png"/></span>
						<p>crf@hongyan.com.cn</p>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="y_footer">
			<div class="y_foot1">
				<a href="#">经销商在线系统 &nbsp|&nbsp</a>
				<a href="#">供应商在线系统 &nbsp|&nbsp</a>
				<a href="#">防伪查询 &nbsp|&nbsp</a>
				<a href="#">联系我们&nbsp|&nbsp</a>
				<a href="#" class="y_tubiao"></a>
				<p>Copyright © 2014 Honyar All rights reserved. 浙ICP备05003462号-1</p>
				<a href="#" class="y_tupiana"></a>
				<a href="#">下载专区&nbsp|&nbsp</a>
				<a href="#">站点地图 站长统计</a>
			</div>
			<div class="y_foot1">
				<a href="#" style="padding-right: 10px;">中国普天</a>
				<a href="#">鸿雁专属联通营业厅</a>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/y_yxwangluo.js"></script>

</html>