<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>鸿雁</title>
		<link rel="stylesheet" type="text/css" href="../../css/yky_fazhan.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/foot.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/nav_lb.css"/>
		<script type="text/javascript" src="../../js/jquery-2.1.4.min.js" ></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="logo">
					<img src="../../img/yky_logo.jpg"/>
				</div>
				<ul class="nav">
					<li>
						<a href="">
							<span>首页</span>
							<span>HOME</span>
						</a>
					</li>
					<li>
						<a href="">
							<span>系统解决方案</span>
							<span>SYSTEM SOLUTIONS</span>
						</a>
						<div class="div_a">
							<div class="nav_left">
								<ul>
									<li><a href="">智慧家庭解决方案</a></li>
									<li><a href="">智慧办公解决方案</a></li>
									<li><a href="">智慧酒店解决方案</a></li>
									<li><a href="">轨道交通解决方案</a></li>
									<li><a href="">智慧道路解决方案</a></li>
									<li><a href="">智慧工厂配电解决方案</a></li>
									<li><a href="">布线解决方案</a></li>
								</ul>
							</div>
							<div class="nav_right">
								<img src="../../img/yky_1_03.jpg"/>
								<div class="right_title">
									<a href="">一键品味美好未来</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a href="">
							<span>产品族群</span>
							<span>PROUDUCT GROUPS</span>
						</a>
						<div class="div_a">
							<div class="nav_left">
								<ul class="g_nav_ul">
									<li><a href="">电工电气</a></li>
									<li><a href="">LED照明</a></li>
									<li><a href="">智能电气</a></li>
									<li><a href="">水电管道</a></li>
								</ul>
							</div>
							<div class="nav_right">
								<img src="../../img/yky_1_08.jpg"/>
								<div class="right_title">
									<a href="">科技创造魅力 智慧改变生活</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a href="">
							<span>合作伙伴专区</span>
							<span>PARTNER ZONE</span>
						</a>
						<div class="div_a">
							<div class="nav_left">
								<ul>
									<li><a href="" class="g_nav_a">鸿雁经销商</a></li>
									<li><a href="" class="g_nav_a">网络经销商专区</a></li>
									<li><a href="" class="g_nav_a">集团客户专区</a></li>
									<li><a href="" class="g_nav_a">装饰公司专区</a></li>
									<li><a href="" class="g_nav_a">智能家居代理服务商</a></li>
								</ul>
							</div>
							<div class="nav_right">
								<img src="../../img/yky_1_09.jpg"/>
								<div class="right_title">
									<a href="">鸿雁 · 共创美好明天</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a href="">
							<span>关于鸿雁</span>
							<span>ABOUT HONYAR</span>
						</a>
						<div class="div_a last">
							<div class="nav_left last_left">
								<ul>
									<li><a href="" class="g_nav_a">公司简介</a></li>
									<li><a href="" class="g_nav_a">营销网络</a></li>
									<li><a href="" class="g_nav_a">智慧生活</a></li>
									<li><a href="" class="g_nav_a">品牌故事与企业文化</a></li>
									<li><a href="" class="g_nav_a">发展历程与企业荣誉</a></li>
									<li><a href="" class="g_nav_a">网络商学院</a></li>
								</ul>
								<ul>
									<li><a href="" class="g_nav_a">研发与设计</a></li>
									<li><a href="">普天智能照明研究院</a></li>
									<li><a href="">院士工作站</a></li>
									<li><a href="">博士后工作站</a></li>
									<li><a href="">光环境设计中心</a></li>
								</ul>
								<ul>
									<li><a href="" class="g_nav_a">可持续发展</a></li>
									<li><a href="">节能环保</a></li>
									<li><a href="">质量管理</a></li>
									<li><a href="">社会公益</a></li>
									<li><a href="" class="g_nav_a">新闻中心</a></li>
									<li><a href="">新闻与公告</a></li>
									<li><a href="">视频专区</a></li>
								</ul>
							</div>
							<div class="nav_right">
								<img src="../../img/yky_1_03a.jpg"/>
								<div class="right_title">
									<a href="">爱生命 爱生活 爱未来</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="left">
					<img src="../../img/yky_1_07a.jpg"/>
					<img src="../../img/yky_1_10.jpg" id="ewm"/>
					<div class="weixin"></div>
				</div>
			</div>
			<div class="banner">
				<div class="header">
					<span>当前位置：</span>
					<a href="">首页></a>
					<a href="">关于鸿雁></a>
					<a href="">发展历程与企业荣誉</a>
				</div>
				<div class="img"><img src="../../img/yky_bg11.jpg"/></div>
				<div class="title">
					<span>HISTORY AND HONOR</span>
					<h1>发展历程与企业荣誉</h1>
					<h2>——</h2>
					<p>杭州鸿雁电器有限公司是中国普天旗下的大型央企。公司成立于1981年，并于次年率先开发86型电器装置件产品（即中国第一款自主研发的电器开关），被喻为当时"电气装置件领域的一场革命"。</p>
				</div>
			</div>
			<div class="xiaban">
			<div class="content">
					<div class="lic">
						<span>发展历程</span>
						<img src="../../img/yky_im0g3_5.png"/>
					</div>
				<div class="header"></div>
				<div class="text">
					<div class="title">发展历程</div>
					1981年 鸿雁电器成立，迈出创业步伐。<br />
1982年 在国内率先开发86型电气装置件产品，被誉为“电气装置件领域的一场革命”。<br />
1989年 在中国大陆，鸿雁领导开发PVC电工导管，助推“以塑代钢”新潮流。<br />
1999年 在国内率先开发家庭信息箱，开创家居智能化新潮流。<br />
2000年 鸿雁商标被国家工商行政管理局商标局认定为“中国驰名商标”。<br />
2005年 成为行业内首批获得“国家认可实验室”称号的企业之一。<br />
2010年 携手台湾东贝光电全面进军LED照明产业，在行业内率先提出“智慧照明”概念。<br />
2013年 集研发、生产、办公、物流于一体的鸿雁临安青山湖科技城产业园一期工程投入使用。<br />
2016年 提出“将智能面板（开关插座）打造成智能家居入口、平台、终端”战略，布局“智能家居2.0”生态圈。<br /><br />
<div class="title">企业荣誉</div>
				2015年 荣获“国家博士后科研工作站”称号<br />
2014年 研发中心被国家发改委、科技部等认定为“国家级企业技术中心”<br />
2014年 中国照明电器行业技术创新型企业<br />
2013年 荣获“浙江省政府质量奖”荣誉称号<br />
2013年 中央企业先进集体称号<br />
2012年 荣获“国家科技进步二等奖”<br />
2011年 荣获“2010年浙江省科技技术进步一等奖”<br />
2009年 荣获“全国企事业知识产权示范单位”称号<br />
2009年 荣获“全国实施卓越绩效模式先进企业特别奖”<br />
2009年 荣获“国家重点高新技术企业称号”
				</div>
				<div class="bottom"></div>
			</div>
				<div class="bottom">
					<div class="bottom_bg">
					<div class="lic2">
						<span>企业荣誉</span>
						<img src="../../img/yky_im0g3_5.png"/>
						</div>
						<div class="lb2">
							<div class="lb2_left"><a></a></div>
							<div class="lunbo2" id="lb">
						<ul id="lb_ul">
							<li>
								<a href="">
									<div><img src="../../img/yky_20150724163235_2510.jpg"/></div>
									<div>科技创新奖第三名</div>
								</a>
								</li>
								<li>
								<a href="">
									<div><img src="../../img/yky_20150724163255_0502.jpg"/></div>
									<div>十大优秀照明供应商</div>
								</a>
								</li>
								<li>
								<a href="">
									<div><img src="../../img/yky_20150724163318_7155.jpg"/></div>
									<div>浙江省建设科技成果推广项目证书</div>
								</a>
								</li>
								<li>
								<a href="">
									<div><img src="../../img/yky_20150724163339_3327.jpg"/></div>
									<div>中国塑料加工工业协会塑料管道专业委员会理事单位</div>
								</a>
								</li>
								<li>
								<a href="">
									<div><img src="../../img/yky_20150724163235_2510.jpg"/></div>
									<div>科技创新奖第三名</div>
								</a>
								</li>
								
								<li>
								<a href="">
									<div><img src="../../img/yky_20150724163255_0502.jpg"/></div>
									<div>十大优秀照明供应商</div>
								</a>
							</li>
						</ul>
						</div>
						<div class="lb2_right"><a></a></div>
						</div>
					</div>
				</div>
			</div>
				<div class="y_footer">
				<div class="y_foot1">
					<a href="#">经销商在线系统 &nbsp|&nbsp</a>
					<a href="#">供应商在线系统 &nbsp|&nbsp</a>
					<a href="#">防伪查询 &nbsp|&nbsp</a>
					<a href="#">联系我们&nbsp|&nbsp</a>
					<a href="#" class="y_tubiao"></a>
					<p>Copyright  2014 Honyar All rights reserved. 浙ICP备05003462号-1</p>
					<a href="#" class="y_tupiana"></a>
					<a href="#">下载专区&nbsp|&nbsp</a>
					<a href="#">站点地图      站长统计</a>
				</div>
				<div class="y_foot1">
					<a href="#" style="padding-right: 10px;">中国普天</a>
					<a href="#">鸿雁专属联通营业厅</a>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/yky_fazhan.js" ></script>
	</body>
</html>
